mixin main-nav(selected)

  -
    var menu = {
      'книги': '/index.html',
      'рекомендации': '/recommendations.html',
      'контакты': '/contacts.html'
    };

  nav.main-nav#main-nav
    ul.main-nav__list(data-main-nav)
      each val, key in menu
        li(class= selected.toLowerCase() === key.toLowerCase() ? 'main-nav__item  main-nav__item--active' : 'main-nav__item')
          a(href=val, title=key)= key
