// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  $block-name:                &; // #{$block-name}__element

  &__toggle {
    display: block;
    background-color: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 14px;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;

    &:focus {
      outline: none;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__toggle-hamburger {
    display: block;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    height: 2px;
    background: $dark;

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $dark;
      content: "";
    }

    &::before {
      top: 6px;
    }

    &::after {
      bottom: 6px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $main-color;
    opacity: 0.9;

    @media (max-width: ($screen-sm - 1)) {
      position: absolute;
      top: 50px;
      right: 10px;
      width: 200px;
    }

    @media (min-width: $screen-sm) {
      display: flex!important;
      background-color: transparent;
    }
  }

  &__item {
    a {
      padding-left: 50px;
      margin-top: 20px;
      display: block;
      text-decoration: none;
      font-size: $font-size--sm;
      font-weight: 700;
      color: #000;

      @media (min-width: $screen-sm) {
        margin: 0;
      }
    }
  }

}
