mixin promo(title, text, poster)
  .promo
    .promo__wrapper
      h2.promo__title= title
      p.promo_text= text
      a.promo__btn(href="/") Хочу узнать о книге больше
    .promo__photo
      img(src= poster, alt='книга', width='302', height='424')
