mixin promo(text, title, poster, link)
  .promo__wrapper
    .promo__book
      .promo__text= text
      .promo__border
        h3.promo__title= title
        .promo__btn
          a(href= link) Хочу узнать о книге больше
    .promo__photo
      a(href= link)
        img(src= poster, alt='книга', width='302', height='424')
