// В этом файле должны быть стили для БЭМ-блока promo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.promo {

  $block-name:                &; // #{$block-name}__element
  color: #000;

  &__slick {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
    width: 100%;

    @media (min-width: $screen-sm) {
      justify-content: space-around;
      align-items: center;
      padding: 0 20px;
      min-width: 768px;
      margin: 0 auto;
      width: 100%;
    }

    @media (min-width: $screen-lg) {
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
    }

    &__wrapper {
      display: flex;
    }
  }



  &__text {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: $font-size--sm;
    font-style: italic;

    @media (min-width: $screen-sm) {
      margin: 55px 0 27px;
    }

    @media (min-width: $screen-lg) {
      margin: 60px 0 30px;
      width: 328px;
      font-size: $font-size;
    }
  }

  &__title {
    width: 280px;
    margin: 45px 30px 40px 10px;
    font-size: $font-size--h3;
    font-weight: 700;

    @media (min-width: $screen-sm) {
      width: 360px;
      margin: 45px 0 35px;
    }

    @media (min-width: $screen-lg) {
      margin: 35px 0 45px;
      width: 520px;
      font-size: $font-size--h1 + 4px;
    }
  }

  &__btn {
    padding-bottom: 25px;
    margin: auto;
    width: 300px;

    @media (min-width: $screen-sm) {
      margin: 0;
      margin-bottom: 60px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 45px;
    }

    a {
      font-size: $font-size;
      color: $third-color;
      text-decoration: none;
    }
  }

  &__border {
    padding-left: 12px;
    border: 8px solid $gray-light;

    @media (min-width: $screen-sm) {
      padding-left: 33px;
      width: 555px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 30px;
      width: 440px;
    }
  }

  &__photo {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
      padding-top: 125px;
    }
  }

}
