mixin description-book(text, text2)
  .description-book
    h3.description-book__title Короткое описание
    .description-book__text
      p= text
      p= text2
    a.description-book__btn(href="/") Показать полностью

