// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    width: 30px;
    height: 30px;
    margin: 10px;
  }

  &__link {
    display: block;
    font-size: $font-size;
    font-weight: 700;
    text-align: center;

    &:hover {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $main-color;
    }

  }
}
