// В этом файле должны быть стили для БЭМ-блока book, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.book {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 50px;
  align-self: center;

  @media (min-width: $screen-sm) {
    align-self: end;
  }

  &__link img{
    height: 370px;
    display: block;
  }

  &__title {
    margin: 40px 0 30px;
    width: 250px;
    font-size: $font-size--h3;
    font-weight: 700;
    color: $dark;

    @media (min-width: $screen-sm) {
      margin: 35px 0 25px;
    }
  }

  &__text {
    margin: 20px 0;
    width: 250px;
    font-size: $font-size;
    font-style: italic;
  }

  &__buy {
    margin: 0;
    font-size: $font-size;
    font-weight: 700;
  }
}

.books {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $screen-sm) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: $screen-lg) {
    padding-top: 50px;
    margin: 0 auto;
    width: 1200px;
  }
}
