// В этом файле должны быть стили для БЭМ-блока book, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.book {

  $block-name:                &; // #{$block-name}__element

  margin: 0 auto;
  padding-bottom: 50px;
  align-content: stretch;
  position: relative;

  @media (min-width: $screen-sm) {
  }

  &__link img {
    height: 370px;
    display: block;
  }

  &__title {
    margin: 40px 0 30px;
    width: 250px;
    font-size: $font-size--h3;
    font-weight: 700;
    color: $dark;

    @media (min-width: $screen-sm) {
      margin: 35px 0 25px;
    }
  }

  &__text {
    margin: 20px 0;
    width: 250px;
    font-size: $font-size;
    font-style: italic;
  }

  &__buy {
    margin: 0;
    font-size: $font-size;
    font-weight: 700;

    @media (min-width: $screen-sm) {
      padding-top: 20px;
      position: absolute;
      bottom: 30px;
      margin: 0;
    }
  }
}

.books {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $screen-sm) {
    width: 728px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: $screen-lg) {
    padding-top: 50px;
    width: 1160px;
    justify-content: space-between;
  }
}
