// В этом файле должны быть стили для БЭМ-блока book, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.book {

  $block-name:                &; // #{$block-name}__element

  &__list {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 360px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $screen-sm) {
      padding: 0 40px;
      max-width: 840px;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
    }

    @media (min-width: $screen-lg) {
      padding-top: 50px;
      padding: 0 60px;
      max-width: 1280px;
      justify-content: space-between;
    }
  }

  &__item {
    width: 260px;
    margin: 0 auto;
    padding-bottom: 50px;
    align-content: stretch;
    position: relative;

    @media (min-width: $screen-sm) {
      margin: 0;
    }

    &:hover .book__photo {
      box-shadow: 0px 3px 64.2px -18.2px $second-color;
    }

    &:hover .book__price {
      color: $second-color;
    }
  }

  &__link {
    color: $dark;
    text-decoration: none;

    img {
      height: 370px;
      display: block;
    }
  }

  &__title {
    margin: 40px 0 30px;
    font-size: $font-size--h3;
    font-weight: 700;
    color: $dark;

    @media (min-width: $screen-sm) {
      margin: 35px 0 25px;
    }
  }

  &__desc {
    margin: 20px 0;
    font-size: $font-size;
    font-style: italic;
  }

  &__price {
    margin: 0;
    font-size: $font-size;
    font-weight: 700;

    @media (min-width: $screen-sm) {
      padding-top: 20px;
      position: absolute;
      bottom: 30px;
      margin: 0;
    }
  }
}

.hide-mobile {
  display: none;

  @media (min-width: $screen-sm) {
    display: block;
  }
}
