mixin preview(img)
  section.preview
    img.preview__photo(src= img, alt='книга', width='120', height='139')
    img.preview__photo(src= img, alt='книга', width='120', height='139')
    img.preview__photo(src= img, alt='книга', width='120', height='139')
