// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background-color: #fff;
  margin: 0 auto;
  height: 50px;

  &__inner {
    padding-top: 15px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (min-width: $screen-sm) {
      width: 760px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__wrap {
    display: flex;
  }

  &__time {
    margin: 0;
    display: none;
    padding: 0 30px;

    @media (min-width: $screen-sm) {
      display: block;
      font-size: $font-size--sm;
      color: $gray;
    }

    p {
      margin: 0;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
  }

  &__nav {
    @media (min-width: $screen-sm) {
      margin-right: 20px;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__basket {
    margin-right: 20px;
  }

  &__phone {
    display: none;
    @media (min-width: $screen-sm) {
      display: block;
    }
  }
}
