// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background-color: #fff;
  max-width: 320px;
  margin: 0 auto;
  width: 100%;
  height: 50px;

  @media (min-width: $screen-sm) {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
  }

  @media (min-width: $screen-lg) {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  &__inner {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $screen-sm) {
      padding: 0 20px;
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__time {
    display: none;
    padding: 0 30px;

    @media (min-width: $screen-sm) {
      display: block;
      font-size: $font-size--sm;
      color: $gray;
    }
  }

  &__dsafda {
    display: flex;
    align-items: center;
  }

  &__nav {
    &:first-child {
      order: 2;
    }

    @media (min-width: $screen-sm) {
      margin-right: 40px;
      order: 1;
    }

    @media (min-width: $screen-lg) {
      margin-right: 80px;
    }
  }

  &__buy:nth-child(2) {
    order: 1;

    @media (min-width: $screen-sm) {
      margin-right: 25px;
      order: 2;
    }
  }

  &__phone {
    display: none;

    &:nth-child(3) {
      order: 3;
    }

     @media (min-width: $screen-sm) {
      display: block;
    }
  }

}
