mixin page-header()
  header.page-header
    .page-header__inner
      +logo()

    .page-header__time
      p с 9:00 до 19:00
    
    +main-nav("")
    
    .page-header__buy
      a.page-header__basket(href="/") hgh

    .page-header__social
      a.page-header__recall(href="tel:+7") jghj
