// В этом файле должны быть стили для БЭМ-блока menu-book, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.menu-book {

  $block-name:                &; // #{$block-name}__element

  background-color: $gray-light;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    @media (min-width: $screen-lg) {

    }
  }

  &__item {
    padding: 28px 0 10px;
    a {
      margin-left: 30px;
      text-decoration: none;
      font-size: $font-size;
      color: #000;

      &:hover {
        color: $third-color;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__item--active a {
    padding-bottom: 19px;
    color: $third-color;
    border-bottom: 3px solid $second-color;
  }

}

