// В этом файле должны быть стили для БЭМ-блока menu-book, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.menu-book {

  $block-name:                &; // #{$block-name}__element

  background-color: $gray-light;

  &__inner {
    margin: 0 auto;
    width: 300px;

    @media (min-width: $screen-sm) {
      width: 728px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }
  }

  &__list {
    display: flex;
    margin: 0;
    padding-left: 20px;
    list-style: none;

    @media (min-width: $screen-lg) {
    padding-left: 100px;
    }
  }

  &__item {
    padding: 28px 0 10px;
    a {
      margin-right: 30px;
      text-decoration: none;
      font-size: $font-size;
      color: #000;

      &:hover {
        color: $third-color;
      }

      &:focus {
        outline: none;
      }

      @media (min-width: $screen-sm) {
        margin-right: 50px;
      }
    }
  }

  &__item--active a {
    padding-bottom: 19px;
    color: $third-color;
    border-bottom: 3px solid $second-color;
  }
}

