// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {

  $block-name:                &; // #{$block-name}__element

  width: 300px;
  height: 50px;
  color: #fff;
  background-color: #1f1f1f;
  border: none;
  border-radius: 2px;
  font-family: $font-family;
  font-size: $font-size;

  &:hover,
  &:focus {
    background-color: $second-color;
  }

  &:active {
    background-color: $fourth-color;
  }
}
