mixin page-footer()
  footer.page-footer
    .page-footer__inner
      .page-footer__logo
        +logo()

      .page-footer__time
        p с 9:00 до 19:00

    .page-footer__wrap
      .page-footer__nav
        +main-nav("")
      .page-footer__nav--link
        a(href="/") контакты
