// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $screen-sm) {
    padding: 0 20px;
    min-width: 768px;
    margin: 0 auto;
    width: 100%;
  }

  @media (min-width: $screen-lg) {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  &__inner {
    margin: 20px 0;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__time {
    font-size: $font-size--sm;
    color: $gray;

    @media (min-width: $screen-sm) {
      padding-left: 30px;
    }

    p {
      margin: 0;
    }
  }

  &__wrap{
    display: flex;
    justify-content: space-between;
  }

  &__nav--link {
    a {
      text-decoration: none;
      font-size: $font-size--sm;
      font-weight: 700;
      color: #000;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}
