// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  margin: 0 auto;
  padding: 0 30px;
  max-width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $screen-sm) {
    padding: 0 40px;
    max-width: 840px;
  }

  @media (min-width: $screen-lg) {
    padding: 0 60px;
    max-width: 1280px;
  }

  &__inner {
    margin: 20px 0;

    @media (min-width: $screen-sm) {
      display: flex;
    }
  }

  &__time {
    font-size: $font-size--sm;
    color: $gray;

    p {
      margin: 0;
    }

    @media (min-width: $screen-sm) {
      padding-left: 30px;
    }
  }

  &__wrap{
    display: flex;
    justify-content: space-between;
  }

  &__nav--link {
    a {
      text-decoration: none;
      font-size: $font-size--sm;
      font-weight: 700;
      color: #000;
    }

    @media (min-width: $screen-sm) {
      display: none;
    }
  }
}
