// В этом файле должны быть стили для БЭМ-блока new-book, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.new-book {
  // overflow: hidden;

  $block-name:                &; // #{$block-name}__element

  background-image: url(../img/bg_nes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 150px;

  @media (min-width: $screen-lg) {
    background-position-y: 250px;

  }


  &__hh {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;

    @media (min-width: $screen-sm) {
      width: 728px;
    }

    @media (min-width: $screen-lg) {
      width: 1160px;
    }

   }

  &__caption {
    @media (min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__title {
    font-size: $font-size--h2;
    color: $dark;
  }

  &__inner {
    display: flex;

    @media (min-width: $screen-lg) {
      justify-content: space-between;
    }
  }

  &__wrapper {
  }

  &__card {
    margin: 0 auto;
    width: 260px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__link {
    display: grid;
    font-size: $font-size;
    color: $third-color;
    text-decoration: none;
    // margin-bottom: 20px;

    &:focus {
      outline: none;
    }

    @media (min-width: 1200px) {
      // margin: 40px 0;

    }
  }

  &__link {
    text-decoration: none;
  }

  &__name {
    margin: 25px 0 20px;
    font-size: $font-size--h3;
    color: $dark;
  }

  &__text {
    margin: 0;
    font-size: $font-size;
    font-style: italic;
    color: $dark;
  }
}
