mixin contacts()
  .contacts
    h1.contacts__title Контакты
    ul.contacts__list
      svg.contacts__bullet(width="5", height="5")
        use(xlink:href="img/sprite-svg.svg#bullet")
      li.contacts__item Набережная реки Фонтанки, 202
      svg.contacts__bullet(width="5", height="5")
        use(xlink:href="img/sprite-svg.svg#bullet")
      li.contacts__item c 9:00 до 19:00 ежедневно
      svg.contacts__bullet(width="5", height="5")
        use(xlink:href="img/sprite-svg.svg#bullet")
      li.contacts__item
        a.contacts__link(href="tel:+79111234567" title="button_phone")
          span +7 (911) 123 45 67
