// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element

  margin: 0 auto;
  padding: 0 30px;
  max-width: 360px;

  @media (min-width: $screen-sm) {
    padding: 0 40px;
    max-width: 840px;
  }

  @media (min-width: $screen-lg) {
    padding: 0 60px;
    max-width: 1280px;
  }

  &__title {
    margin: 35px 0 35px;
    font-size: $font-size--h2 + 20px;
    font-weight: 700;
    color: $dark;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      margin-bottom: 25px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__bullet {
    float: left;
    fill: $third-color;
    margin-top: 7px;
  }

  &__item {
    margin-bottom: 25px;
    padding-left: 15px;
    color: $dark;
    font-size: $font-size;

    @media (min-width: $screen-sm) {
      margin-right: 94px;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark;
  }
}
