mixin more-books(img, name, text, link)
  a.new-book__link(href= link)
    img.new-book__img(src= img, alt='книга', width='260', height='370')
  a.new-book__link(href= link)
    h3.new-book__name= name
  p.new-book__text= text

