// В этом файле должны быть стили для БЭМ-блока library, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.library {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/img/library.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;

  &__wrap {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 360px;

    @media (min-width: $screen-sm) {
      padding: 0 40px;
      max-width: 840px;
    }

    @media (min-width: $screen-lg) {
      padding: 0 60px;
      max-width: 1280px;
    }
  }

  &__title {
    margin: 0;
    padding: 90px 0 30px;
    font-size: $font-size--h3;
    font-weight: 700;
    text-align: center;

    @media (min-width: $screen-sm) {
      padding: 125px 0 30px;
      font-size: $font-size--h1;
    }
  }

  &__text {
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: $font-size;

    @media (min-width: $screen-sm) {
      padding-bottom: 70px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 115px;
    }
  }
}
