extends templates/layout-home.pug

block meta
  title book-store
  meta(name='description', content='book-store')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  -var selected = 'контакты';
  +main-nav(selected)

block content
  +contacts()
  
  .form
    h2.form__title Есть вопросы?
    p.form__text Напишите нам на почту. Отвечаем в течении дня
    +form()

  +library()
//- block append page-bottom
//-   script(src='some.js')
