extends templates/layout-home.pug

block meta
  title book-store
  meta(name='description', content='book-store')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  -var selected = 'контакты';
  +main-nav(selected)

block content
  +contacts()

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.9288393699817!2d30.27869628861517!3d59.91672833605958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469630eec3cc4241%3A0x105f3478905c83e9!2z0L3QsNCx0LXRgNC10LbQvdCw0Y8g0YDQtdC60Lgg0KTQvtC90YLQsNC90LrQuCwgMjAyLCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkwMTIx!5e0!3m2!1sru!2sru!4v1532000579896" width="1160" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>

  .form
    .form__wrapper
      h2.form__title Есть вопросы?
      p.form__text Напишите нам на почту. Отвечаем в течении дня
      +form()

  +library()
//- block append page-bottom
//-   script(src='some.js')
