extends templates/layout-home.pug

block meta
  title book-store
  meta(name='description', content='book-store')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  -var selected = 'книги';
  +main-nav(selected)

block content
<<<<<<< HEAD
  +promo("Новое поступление книги «Симпсоны и их математические секреты»", "http://dummyimage.com/302x424/c0c0c0", "#")
    p Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.
=======
  +promo("Новое поступление книги «Симпсоны и их математические секреты»", "Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.", "/img/Simpsons.jpg", "#")
  +promo("Новое поступление книги «45 татуировок  менеджера»", "Книга про правила российского руководителя", "http://dummyimage.com/302x424/c0c0c0", "#")
  +promo("Узнайте как обучить персонал с новой книгой  «Пятая дисциплина»", "Искусство и практика обучающейся организации", "http://dummyimage.com/302x424/c0c0c0", "#")
>>>>>>> book

  +menu-book('Все')

  .books
    - var books = [{photo:'http://dummyimage.com/260x370/c0c0c0', title:'Латеральная логика', text:'Головоломный путь к нестандартному мышлению', buy:'500 ₽'}, {photo:'http://dummyimage.com/260x370/c0c0c0', title:'Путеводитель по лжи', text:'Критическое мышление в эпоху постправды', buy:'630 ₽'}, {photo:'http://dummyimage.com/260x370/c0c0c0', title:'Дао физики', text:'Исследование параллелей между современной физикой и восточной философией', buy:'560 ₽'}, {photo:'http://dummyimage.com/260x370/c0c0c0', title:'Не очевидно', text:'Как выявлять тренды раньше других', buy:'365 ₽'}, {photo:'http://dummyimage.com/260x370/c0c0c0', title:'Суперпотребители', text:'Кто это и почему они так важны для вашего бизнеса', buy:'500 ₽'}, {photo:'http://dummyimage.com/260x370/c0c0c0', title:'Маркетинг в социальных сетях', buy:'630 ₽'}, {photo:'http://dummyimage.com/260x370/c0c0c0', title:'Правильный выбор', text:'Практическое руководство по принятию взвешенных решений', buy:'560 ₽'}, {photo:'http://dummyimage.com/260x370/c0c0c0', title:'Главное в истории искусств', text:'Ключевые работы, темы, направления, техники', buy:'365 ₽'}];
    for book in books
      +book(book)


  +pagination()

  .delivery
    h2.delivery__title Доставим в любое место
<<<<<<< HEAD
    p.delivery__text // ну почти в любое
=======
    p // ну почти в любое
>>>>>>> book
    +delivery('http://dummyimage.com/50x40/c0c0c0', 'Покупаете книги на сайте в любимом формате — бумажные, электронные или аудио.')
    +delivery('http://dummyimage.com/50x40/c0c0c0', 'Бесплатно доставляем заказы от 3 000  по всей России.')
    +delivery('http://dummyimage.com/50x40/c0c0c0', 'Мы подарим вам «Набор читателя» и добавим в посылку.')
    +delivery('http://dummyimage.com/50x40/c0c0c0', 'Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу — бесплатно.')

  .new-book
    .new-book__wrapper
      h2.new-book__title Наши новинки
      .new-book__link
        a(href="/") Все новинки
      +new-book('http://dummyimage.com/260x370/c0c0c0', 'Латеральная логика', 'Головоломный путь к нестандартному мышлению', '#')
//- block append page-bottom
//-   script(src='some.js')
