extends templates/layout-home.pug

block meta
  title book-store
  meta(name='book-store', content='Home page!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  -var selected = 'книги';
  +main-nav(selected)

block content
  +promo("Новое поступление книги «Симпсоны и их математические секреты»", "Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.", "http://dummyimage.com/302x424/c0c0c0")
  
  +menu-book('Все')

  +book('http://dummyimage.com/260x370/c0c0c0', 'Латеральная логика', 'Головоломный путь к нестандартному мышлению', '500 ₽')

  +pagination()

  .delivery
    h2.delivery__title Доставим в любое место 
    p // ну почти в любое
    +delivery('http://dummyimage.com/50x40/c0c0c0', 'Покупаете книги на сайте в любимом формате — бумажные, электронные или аудио.')

//- block append page-bottom
//-   script(src='some.js')
