extends templates/layout-home.pug

block meta
  title book-store
  meta(name='description', content='book-store')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  -var selected = 'книги';
  +main-nav(selected)

block content
  +promo("Новое поступление книги «Симпсоны и их математические секреты»", "http://dummyimage.com/302x424/c0c0c0", "#")
    p Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.
  
  +menu-book('Все')
  
  .books
    - var books = [{photo:'http://dummyimage.com/260x370/c0c0c0', title:'Латеральная логика', text:'Головоломный путь к нестандартному мышлению', buy:'500 ₽'}, {photo:'http://dummyimage.com/260x370/c0c0c0', title:'Путеводитель по лжи', text:'Головоломный путь к нестандартному мышлению', buy:'500 ₽'}];
    for book in books
      +book(book)


  +pagination()

  .delivery
    h2.delivery__title Доставим в любое место 
    p // ну почти в любое
    +delivery('http://dummyimage.com/50x40/c0c0c0', 'Покупаете книги на сайте в любимом формате — бумажные, электронные или аудио.')

  .new-book
    .new-book__wrapper
      h2.new-book__title Наши новинки
      .new-book__link
        a(href="/") Все новинки
      +new-book('http://dummyimage.com/260x370/c0c0c0', 'Латеральная логика', 'Головоломный путь к нестандартному мышлению', '#')
//- block append page-bottom
//-   script(src='some.js')
