extends templates/layout-home.pug

block meta
  title book-store
  meta(name='description', content='book-store')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  -var selected = 'книги';
  +main-nav(selected)

block content
  .promo.promo__slick
    +promo("Новое поступление книги «Симпсоны и их математические секреты»", "Для поклонников сериала «Симпсоны» и для всех, кому интересна математика.", "/img/Simpsons.jpg", "#")
    +promo("Новое поступление книги «45 татуировок  менеджера»", "Книга про правила российского руководителя", "/img/2.jpg", "#")
    +promo("Узнайте как обучить персонал с новой книгой  «Пятая дисциплина»", "Искусство и практика обучающейся организации", "/img/3.jpg", "#")

  +menu-book('Все')

  .books
    - var books = [{photo:"/img/logics.jpg", title:'Латеральная логика', text:'Головоломный путь к нестандартному мышлению', buy:'500 ₽'}, {photo:'/img/GuideToLies.jpg', title:'Путеводитель по лжи', text:'Критическое мышление в эпоху постправды', buy:'630 ₽'}, {photo:'/img/physics.jpg', title:'Дао физики', text:'Исследование параллелей между современной физикой и восточной философией', buy:'560 ₽'}, {photo:'/img/NotObvious.jpg', title:'Не очевидно', text:'Как выявлять тренды раньше других', buy:'365 ₽'}, {photo:'/img/Super.jpg', title:'Суперпотребители', text:'Кто это и почему они так важны для вашего бизнеса', buy:'500 ₽'}, {photo:'/img/Marketing.jpg', title:'Маркетинг в социальных сетях', buy:'630 ₽'}, {photo:'/img/choice.jpg', title:'Правильный выбор', text:'Практическое руководство по принятию взвешенных решений', buy:'560 ₽'}, {photo:'/img/art.jpg', title:'Главное в истории искусств', text:'Ключевые работы, темы, направления, техники', buy:'365 ₽'}];
    for book in books
      +book(book)


  +pagination()

  .delivery
    h2.delivery__title Доставим в любое место
    p.delivery__text // ну почти в любое
    .delivery__inner
      +delivery('http://dummyimage.com/50x40/c0c0c0', 'Покупаете книги на сайте в любимом формате — бумажные, электронные или аудио.')
      +delivery('http://dummyimage.com/50x40/c0c0c0', 'Мы подарим вам «Набор читателя» и добавим в посылку.')
      +delivery('http://dummyimage.com/50x40/c0c0c0', 'Бесплатно доставляем заказы от 3 000  по всей России.')
      +delivery('http://dummyimage.com/50x40/c0c0c0', 'Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу — бесплатно.')

  .new-book
    .new-book__caption
      h2.new-book__title Наши новинки
      a.new-book__link(href="/") Все новинки
    .new-book__inner
      +new-book("/img/logics.jpg", 'Латеральная логика', 'Головоломный путь к нестандартному мышлению', '#')
      +new-book('/img/GuideToLies.jpg', 'Путеводитель по лжи', 'Критическое мышление в эпоху постправды', '#')
      +new-book('/img/physics.jpg', 'Дао физики', 'Исследование параллелей между современной физикой и восточной философией', '#')
      +new-book('/img/NotObvious.jpg', 'Не очевидно', 'Как выявлять тренды раньше других', '#')
//- block append page-bottom
//-   script(src='some.js')
