//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/logo/logo.pug
include blocks/page-header/page-header.pug
include blocks/page-footer/page-footer.pug
include blocks/promo/promo.pug
include blocks/menu-book/menu-book.pug
include blocks/book/book.pug
include blocks/pagination/pagination.pug
include blocks/delivery/delivery.pug
include blocks/new-book/new-book.pug
include blocks/contacts/contacts.pug
include blocks/form/form.pug
include blocks/library/library.pug
include blocks/preview/preview.pug
include blocks/description/description.pug
include blocks/description-book/description-book.pug
