extends templates/layout-home.pug

block meta
  title book-store
  meta(name='description', content='book-store')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  -var selected = 'рекомендации';
  +main-nav(selected)

block content
  .recommendation
    h1.recommendation__title Наши рекомендации

    +recommendation({
      article_title: "Новая статья в блоге",
      article_descr: "Посмотрите, как чтение книг меняет восприятие человека.",
      article_link: "Читать статью",
      photo: "Наши подборки ваших лучших фотографий у нас",
      season_title: "Книга осени!",
      season_descr:"Проголосуй за лучшую книгу этой осени",
      view_title: "Нам важно ваше мнение!",
      view_descr: "Ставьте пальцы вверх , мы хотим знать ваше мнение",
      view_button: "Проголовать",
      children_title: "Книги для детей",
      children_descr: "У нас появился новый раздел, в котором мы подбираем книги для юных читателей",
      oldbook_title: "У вас еть старые книги?",
      oldbook_descr: "Приносите их нам и обменяйте на новые.",
      present_title: "Книга в подарок!",
      present_descr: "При вашем новом заказе мы подарим вам книгу"
    })

  +library()

//- block append page-bottom
//-   script(src='some.js')
