mixin form()
  form.form__inner
    .form__input
      input.form__entry-field(type="text" name="почта" placeholder="Ваша почта" required)
      input.form__entry-field(type="text" name="сообщение" placeholder="Сообщение" required)
    button.btn.form__btn Отправить

    input.form__checkbox(type="checkbox" id="checkbox" required)
    label(for="checkbox")
      p Я согласен(-на) c
        a(href="/") политикой конфиденциальности
        span и
        a(href="/") правилами обработки данных
