// В этом файле должны быть стили для БЭМ-блока form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form {

  $block-name:                &; // #{$block-name}__element

  margin: 40px 0 50px;
  border: 8px solid $gray-light;

  @media (min-width: $screen-lg) {
    max-width: 1200px;
    margin: 55px auto;
    width: 100%;
  }

  @media (min-width: $screen-sm) {
    margin: 45px 0 60px;
  }

  &__wrapper {
    padding: 0 10px;
    max-width: 320px;
    margin: 0 auto;
    width: 100%;

    @media (min-width: $screen-sm) {
      padding: 0 20px;
      min-width: 768px;
      margin: 0 auto;
      width: 100%;
    }

    @media (min-width: $screen-lg) {
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
    }
  }


  &__inner {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-lg) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }

  &__title {
    margin: 55px 0 20px;
    font-size: $font-size--h2;
    font-weight: 700;

  }

  &__text {
    margin-bottom: 35px;
    font-size: $font-size;
    color: $dark;

  }

  &__entry-field {
    margin-bottom: 40px;
    font-size: $font-size;
    width: 300px;
    height: 30px;
    background: none;
    border: none;
    border-bottom: 4px solid $gray--2;
    font-family: $font-family;

    &:hover {
      border-bottom: 4px solid $main-color;
    }

    &:active {
      border-bottom: 4px solid $second-color;
    }

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      font-size: $font-size;
      font-family: $font-family;
      color: #a6a6a6;
    }

    @media (min-width: $screen-sm) {
      width: 330px;
      margin-right: 33px;
    }
  }

  &__btn {
    margin: 40px 0 80px;
    order: 3;

    @media (min-width: $screen-sm) {
      margin: 40px 0 50px;
    }

    @media (min-width: $screen-lg) {
      order: 0;
          margin: 0 0 0 40px;
    }
  }

  &__checkbox {
    position: absolute;
    left: -999em;

    & + label {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &::before {
        margin: 0 10px 0 0;
        content: "";
        display: inline-block;
        vertical-align: -17%;
        height: 20px;
        width: 20px;
        background-color: $gray-light--light;
        border: 4px solid $gray--2;
      }
    }

    &:checked + label::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 6px;
      top: 5px;
      left: 4px;
      border: 2px solid #d7569c;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-53deg);
    }
  }

  label {
    display: flex;
    font-family: $font-family;
    font-size: $font-size--sm;

    @media (min-width: $screen-lg) {
      margin-bottom: 70px;
    }

    p {
      margin: 0;
      width: 226px;

      @media (min-width: $screen-sm) {
        width: 481px;
      }
    }

    a {
      margin: 0 5px;
      text-decoration: none;
      color: $third-color;
    }
  }
}








