mixin form()
  input(type="text" name="почта" placeholder="Ваша почта" required)
  input(type="text" name="сообщение" placeholder="Сообщение" required)
  button(class="form__btn") Отправить
  p
    input(type="checkbox" id="checkbox" required)
    label(for="checkbox") Я согласен(-на) с политикой конфиденциальности и правилами обработки данных
