mixin form()
  form.form
    input.form__text(type="text" name="почта" placeholder="Ваша почта" required)
    input.form__text(type="text" name="сообщение" placeholder="Сообщение" required)
    button.btn.form__btn Отправить
    p
      input.form__checkbox(type="checkbox" id="checkbox" required)
      label(for="checkbox") Я согласен(-на) с политикой конфиденциальности и правилами обработки данных
